@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.select-menu {
    width: 220px;
    margin-top: 50px;
    margin-left: 155px;
}

.select-menu1 {
    margin-left: 200px;
}

.select-menu h3 {
    color: #fff;
    margin-left: 10px;
    margin-bottom: 15px;
}

.select-menu .select-btn {
    display: flex;
    height: 40px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 40px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    margin-left: -2px;
}

.options .option img {
    height: 24px;
    width: 24px;
    margin-left: -11px;
}

.options .option:hover {
    background: #f2f2f2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: #333;
    margin-left: 20px;
}

span.selected.sBtn-text {
    animation: none;
    background-color: transparent;
}

span.selected.option-text {
    animation: none;
    background-color: transparent;
}

span.selected1.sBtn-text {
    animation: none;
    background-color: transparent;
}

span.selected1.option-text {
    animation: none;
    background-color: transparent;
}